
#adminmenuwrap {
    clear: left;
}

#adminmenuback {
    z-index: 0 !important;
}

body {
    height: auto !important;
    background: #F1F1F1 !important;
}

.btn:focus, .btn.active:focus, .btn:active, .btn.active {
    outline: none !important;
}
